body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #5f6061;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1 1 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #012903;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f7f7f7;
}

.action-btn {
  margin: 0 4px;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  background-color: #10395a;
  color: white;
  border: none;
}

.delete-btn {
  background-color: #880c03;
  color: white;
  border: none;
}

.message {
  text-align: center;
  margin-bottom: 15px;
  color: rgb(32, 238, 32);
  font-weight: bold;
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .form-group {
    flex-direction: column;
  }

  input, button {
    width: 100%;
  }
}
